<div class="row">
  <% 10.times do %>
  <div class="col-sm-6 mt-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">作成者</h5>
        <a href = "#"class="card-text text-center">くま</a>
        <h5 class="card-title">学習言語</h5>
        <p class="card-text text-center">くま語</p>
        <span>参加人数</span>
        <a href="#" class="btn btn-primary">グループ詳細</a>
      </div>
    </div>
  </div>
  <% end %>
</div>