<div class = "show_group">
  <div class = "container">
    <h2>グループ詳細</h2>
      <%= render 'layouts/group_info', group: @group %>
      <h5>メッセージ</h5>
      <div class = "message">
        <%= @group.content %>
      </div>
  </div>
</div>