
//topのメイン部分
.top{
  background-color: #D9FCE5;
  height: 300px;
  text-align: center;

  & .top_contents{
    padding-top: 50px;
    & h1 {
      font-weight: 500;
      font-size: 4em;
    }
  }
  
  & .imgs{
      height: 300px;
      width: 300px;
    }
  
}



//topのintroductionの調整

.points {
    height: 420px;
    width: 100%;
    line-height: 30px;
    margin-top: 30px;
    & .point_content{
      padding-top: 20px;
    }
    & .point_image{
      text-align: center;
      & .imgs{
        height: 240px;
        width: 240px;
      }
    }
}

.signup-btn{
  text-align: center;
  color: white;
}

