<div><%= post.user.name %>　<%= post.created_at.strftime("%m/%d %H:%M") %></div>
<div class='post'>
  <div class = "user_messages">
    <%= safe_join(post.message.split("\n"),tag(:br)) %>
  </div>
</div>
