<div class="card">
  <div class="card-body">
    <div class = "chunk">
      <span class = "card-subtitle">作成者：</span>
      <%=link_to group.user.name, user_path(group.user)%>
    </div>
    <div class = "chunk">
      <span class = "card-subtitle">学習言語：</span>
      <span><%= group.learning %></span>
    </div>
    <div class = "row chunk">
      <div class = "col-6">
        <span>参加人数</span>
        <span>◯人/<%= group.limit %>人</span>
      </div>
      <div class = "col-6 group-detail">
        <%= link_to "グループ詳細", group_path(group), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>