<nav class="navbar fixed-top navbar-expand-sm">
  <a href="/" class="navbar-brand">Kakehashi</a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#nav-bar">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="nav-bar">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item mr-4"><%= link_to "グループ一覧"%></li> 
        <li class="nav-item mr-4"><%= link_to "プロフィール"%></li>
        <li class="nav-item mr-1"><%= link_to "ログアウト　"%></li>
    </ul>
  </div>
</nav>
