<nav class = "navbar navbar-expand headnav">
    <a href="/" class="navbar-brand">Kakehashi</a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item mr-4"><%= link_to "新規登録", signup_path, class: "btn btn-outline-primary"%></li> 
        <li class="nav-item mr-1"><%= link_to "ログイン", login_path, class: "btn btn-outline-primary"%></li>
    </ul>
</nav>