<nav class="navbar navbar-expand-sm headnav">
  <a href="/" class="navbar-brand">Kakehashi</a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#nav-bar">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="nav-bar">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item mr-4"><%= link_to "グループ一覧",groups_path, class: "btn btn-outline-primary"%></li> 
        <li class="nav-item mr-4"><%= link_to "プロフィール",user_path(current_user), class: "btn btn-outline-primary"%></li>
        <li class="nav-item mr-1"><%= button_to "ログアウト", logout_path, method: :delete , class: "btn btn-outline-primary"%></li> <!--謎のまま。webpackらへんが関係している？-->
    </ul>
  </div>
</nav>
